body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

html,
body,
.wrapper {
    min-height: 100vh;
    height: 100%;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.btn {
    border-radius: 8px;
    background-color: orange;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 8px 16px;
    border: 0;
    cursor: pointer;
    transition: background-color .1s ease-in, color .1s ease-in;
}

.btn:hover {
    background-color: #000;
    color: orange;

}

.sort-selector {
    padding: 0;
    padding: 5px;
    border-radius: 8px;
}

.filters__toggle-open,
.filters__toggle-close {
    display: none;
}

/* https://css-loaders.com/spinner/ */
.spinner {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: orange;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {to{transform: rotate(1turn)}}

.spinner__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background: rgb(255,255,255, 0.7)
}

/* Alert */
.alert {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    background: rgb(255,255,255, 0.7);
    display: none;
    padding: 10px;
}

.alert.visible {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert__content {
    max-width: 440px;
    width: 100%;
    background-color: #fff;
    padding: 20px 20px 40px;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
}

.alert__actions {
    display: flex;
    justify-content: flex-end;
}

.alert__close {
    display: block;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cacaca;
    background: none;
    font-size: 18px;
    margin-left: auto;
    cursor: pointer;
}

.alert__close:hover {
    color: orange;
}

.alert__icon {
    font-size: 50px;
    color: lightgreen;
    padding-bottom: 20px;
}

.alert__message {
    font-size: 18px;
}

/* ==========================
    Header
========================== */
.header {
    height: 40px;
    background: orange;
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.header img {
    height: 100%;
    width: auto;
}

.logo {
    font-weight: 800;
    font-size: 24px;
}

.nav-list {
    display: flex;
    gap: 10px;
}

.nav__link {
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.nav__link.active {
    font-weight: 600;
    text-decoration: underline;
}

/* ==========================
    Main
========================== */

.page-wrapper {
    min-height: 100vh;
    padding: 20px 10px;
    max-width: 1440px;
    margin: 0 auto;
}

.category-page {
    display: flex;
    flex-wrap: wrap;

}

.category-page__head {
    padding-bottom: 20px;
    flex-basis: 100%;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 20px;
    text-align: center;
}

.category-page__title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}

.category-page__description {
    max-width: 500px;
    margin: 0 auto;
}

.category-page__filters {
    width: 240px;
    min-width: 240px;
    padding-right: 20px;
}

.category-page__body {
    flex: 1;
}

/* ==========================
    Product Card
========================== */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-card {
    border: 1px solid #cacaca;
    padding: 10px;
    border-radius: 8PX;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.product-card__image {
    padding-bottom: 100%;
    position: relative;
    background: #cacaca;
    margin-bottom: 15px;
    /* overflow: hidden; */
}

.product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    text-transform: capitalize;
}

.product__name {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 600;
}

.product-card__details strong {
    font-weight: 700;
    text-transform: capitalize;
}

.product__price,
.product__rating,
.product__size,
.product__color,
.product__description {
    padding-bottom: 10px;
}

.star-rating {
    color: orange;
}

.product__description {
    color: #a9a9a9;
}

.product-card,
.product-card__details {
    display: flex;
    flex-direction: column;
}

.product__actions {
    margin-top: auto;
}

.product__actions .btn {
    width: 100%;
}

.no-results {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
}

.no-results__icon {
    font-size: 60px;
    padding-bottom: 20px;
}

.no-results__title {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 20px;
}
.no-results__description {
    font-size: 16px;
    color: #a9a9a9;
}

.product-list__actions {
    text-align: center;
    padding: 20px 0;
}

.product-list__sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.product-list .product-card {
    max-width: calc(25% - 30px);
    width: 100%;
    margin-bottom: 10px;
}

/* Filter */
.filter__title {
    font-weight: 600;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.filters-list {
    padding-bottom: 20px;
}

.filters-list__item:not(:first-child) {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #cacaca;
}

.filters__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filters-panel__title {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 20px;
}

.filters__reset {
    padding: 8px 16px;
    display: block;
    width: 100%;
    border: 1px solid #cacaca;
    background: none;
    font-weight: 600;
    border-radius: 8px;
}

.filters__reset:hover {
    border-color: #000;
    cursor: pointer;
}

.filter-pill__label {
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}

/* ==========================
    Footer
========================== */
.footer {
    background-color: orange;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    gap: 20px;
}

.socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 20px;
    gap: 10px;
}

.footer__link {
    color: black;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.socials__link {
    font-size: 24px;
    color: black;
    transition: opacity .1s ease-in;
}

.socials__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1200px) {
    .product-list .product-card {
        max-width: calc(33.3% - 30px);
    }
}

@media screen and (max-width: 992px) {
    .product-list .product-card {
        max-width: calc(50% - 30px);
    }
}

@media screen and (max-width: 768px) {
    .category-page__head {
        border: 0;
        margin-bottom: 0;
    }

    .category-page {
        flex-direction: column;
    }
    
    .category-page__filters {
        width: 100%;
        padding-right: 0;
    }

    .category-page__filters {
        padding-bottom: 20px;
    }

    .filters__apply,
    .filters__toggle-open,
    .filters__toggle-close {
        display: block;
    }

    .filters__toggle-open {
        padding: 8px 16px;
        display: block;
        width: 100%;
        border: 1px solid #cacaca;
        background: none;
        font-weight: 600;
        border-radius: 8px;
    }

    .filters__toggle-close {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #cacaca;
        background: none;
        font-size: 18px;
        margin-left: auto;
    }

    .filters__toggle-close:hover {
        color: orange;
    }

    .filters-panel {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 4;
        background-color: #fff;
        padding: 20px;
        display: none;
    }
    .filters-panel.visible {
        display: block;
    }

    .filters-panel__title {
        text-transform: uppercase;
    }
}

@media screen and (max-width: 576px) {
    .product-list .product-card {
        max-width: 100%;
    }

    .product-list__info {
        padding-top: 20px;
    }

    .product-list__sort {
        flex-direction: column-reverse;
        text-align: center;
    }

    .sort-selector {
        width: 100%;
    }

    .footer-links {
        gap: 10px;
    }
}